@import "variables";

@for $i from 1 through 31 {
  .calendar > :nth-child(#{$i})::after {
    content: "#{$i}";
  }

  @if $i >= 28 {
    .calendar-#{$i} > :nth-child(-n + #{$i}) {
      display: block;
    }
  }
}

@each $day in $days-list {

  $i: index($days-list, $day);

  .calendar-#{$day} > div:first-child {
    margin-left: ($i - 1) * 101px;
  }

  .calendar-#{$day} > div:nth-child(7n + #{8 - $i}) {
    margin-right: 0;
  }
}
